
*.class
#Mobile Tools for Java(J2ME)
.mtj.tmp/

#Package Files
*.war
*.ear
*.jar

#virtual machine crash logs,
hs_err_pid*

target/
bin/
build/
.externalToolBuilders/
.settings/
.project
.classpath
.DS_Store
.svn/
maven-eclipse.xml
*.log
*.iml
.idea/
*.out
overlays
